# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
.env
package-lock.json
pnpm-lock.yaml


# Dependency directories
node_modules/

# Environment variables
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Next
.next/
.nextjs/
.nextjs-cache/
.nextjs-cache-*/
.nextjs-cache-*/

# AI
.roo
.env.local

# Task files
.taskmaster


# AI files
.claude
.cursor

# Cartel files
audit*

# Playwright
.playwright-mcp/